.box {
	display: flex;
	margin: 10px;
}

.column {
	flex-direction: column;
}

.img-150 {
	max-width: 150px;
	max-height: 150px;
}

.center-all {
	margin: auto
}

.wrap {
	flex-wrap: wrap;
}

.left {
	float: left;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.right {
	float: right;
}

fieldset {
	border: none;
}
