<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>ReWoT</title>
	<link rel="stylesheet" href="/static/rewot.css" type="text/css">
</head>

<body>
	<div class="top">
		<h1><a href="/">ReWoT</a></h1>
		<ul>
			<li><a href="/submit">submit</a></li>
			<li><a href="/help">help</a></li>
		</ul>
	</div>

	<main id="main">

		<h2>Error</h2>

		<p>{{ error }}

	</main>

</body>

</html>
