<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{ name }}{% if path %} :: {{ path | join(sep=" / ")}}{% endif %}</title>
	<link rel="stylesheet" href="/static/medias.css" type="text/css">
	<link rel="stylesheet" href="/static/lightbox/css/lightbox.min.css" type="text/css">
</head>

<body>
	<nav class="box wrap">
		<div class="box left"><a href="/">{{ name }}</a></div>
		<div class="box center">
			<a href="{{ url }}">home</a>
	{%- if path %}
		{%- set new_url = "" %}
		{%- for p in path %}
			&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
			{%- set_global new_url = new_url ~ "/" ~ p %}
			<a href="{{ new_url | safe }}">{{ p }}</a>
		{%- endfor %}
	{%- endif %}
		</div>
		<div class="box right">
		{% if id %}
			<a href="/logout">logout ({{ id }})</a>
		{% else %}
			<a href="/login">login</a>
		{% endif %}
		</div>
	</nav>

	<hr>

	{% if albums %}
	<h2>albums</h2>
	<div class="box wrap">
		{% for album in albums %}
		<div class="box">
			<p><a href="{{ album.url | safe }}">{{ album.name }}</a></p>
		</div>
		{% endfor %}
	</div>
	<hr>
	{% endif %}

	{% if medias %}
	<h2>medias</h2>
	<div id="lightgallery" class="box wrap">
		{% for media in medias %}
		<div class="box column">
			<a class="center-all" href="{{ media.url | safe }}" data-lightbox="album">
				<img class="img-150" src="{{ media.url | safe }}" alt="{{ media.url | safe }}">
			</a>
			{% if id %}
			<br>
			<fieldset>
				<label>public</label>
				<input class="public-checkbox" data-image-url="{{ media.url | safe }}" type="checkbox"{% if media.public == true %} checked{% endif %}>
			</fieldset>
			{% endif %}
		</div>
		{% endfor %}
	</div>
	{% endif %}

	{% if id %}<script src="/static/manage_medias.js"></script>{% endif %}
	<script src="/static/lightbox/js/lightbox-plus-jquery.min.js"></script>
	<script>
		lightbox.option({
			'fadeDuration': 200,
			'imageFadeDuration': 200,
			'wrapAround': true
		})
	</script>

</body>

</html>
