<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{ name }} :: login</title>
	<link rel="stylesheet" href="/static/medias.css" type="text/css">
</head>

<body>
	<nav class="box wrap">
		<div class="box left"><a href="/">{{ name }}</a></div>
		<div class="box center"><a href="/">home</a></div>
		<div class="box right"><a href="/login">login</a></div>
	</nav>

	<hr>

	<main class="box column">
		<h2>login</h2>
		<form action="/login" method="post">
			<div class="box column">
				<div class="box column">
					<fieldset>
						<label>name</label> <input name="name" type="text">
					</fieldset>
				</div>
				<div class="box column">
					<fieldset>
						<label>pass</label> <input name="password" type="password">
					</fieldset>
				</div>
				<div class="box column">
					<fieldset>
						<input type="submit">
					</fieldset>
				</div>
			</div>
		</form>
	</main>

</body>

</html>
